@using AttenanceSystemApp.DTO
@model DepartmentDTO

<div class="container">
	<h1 class="my-5 text-center">Create new department</h1>
	<form asp-action="Create" method="post">
	<div class="form-group">
		<label class="form-label" asp-for="Name">Name of department:</label>
		<input type="text" asp-for="Name" class="form-control" />
		<label class="form-label" asp-for="Adress">Adress:</label>
		<input type="text" asp-for="Adress" class="form-control" />
	</div>
	<button type="submit" class="btn btn-warning my-2">Create</button>
	<button type="reset" class="btn btn-danger my-2">Reset</button>
</form>
</div>
