@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

<div class="container text-center">
	<h1 class="my-5">All roles</h1>
	<div class="att-card border border-dark mb-4 shadow">
		<h5 class="mt-4">Create new role</h5>
		<a asp-action="Create" class="btn btn-warning mb-4 mt-2 text-center">Create</a>
	</div>
	<div class="table-responsive">
		<table class="table table-success table-striped shadow">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Action</th>
				<th scope="col">ID</th>
			</tr>
		</thead>
		<tbody>
				@foreach (var role in Model)
				{
									<tr>
							  <td>@role.Name</td>
							  <td>
								  <div class="d-flex align-items-center justify-content-center gap-2">
									  <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@role.Id">Edit</a>
									  <a class="btn btn-danger btn-sm" asp-action="GetToDelete" asp-route-id="@role.Id">Delete</a>
								  </div>
							  </td>
							  <td>@role.Id</td>
							</tr>
				}
		</tbody>
	</table>
	</div>
</div>

